{% extends 'layout.html' %}

{% block content %}
    <div style="margin-bottom: 10px">
          <!-- target="_blank" 表示打开新的tab页 -->
        <a class="btn btn-primary btn-success" href="/depart/add" target="_self"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 新建部门</a>
      </div>
    <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            部门列表
          </div>
          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>名称</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
                {% for item in department_list %}
                   <tr>
                     <th>{{ item.id }}</th>
                     <td>{{ item.title }}</td>
                     <td>
                       <a class="btn btn-primary btn-xs" href="/depart/edit/{{item.id}}/">编辑</a>
                       <a class="btn btn-danger btn-xs" href="/depart/delete/?did={{item.id}}">删除</a>
                     </td>
                   </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
{% endblock %}